<script id="nixleTmpl" type="text/x-jsrender">
    <div class="header"><h3>Nixle</h3></div>
    <div class="messageRow">
        <div>NixleTitle</div>
        <div><input type="text" id="nixleTitle" /></div>
    </div>
    <div class="messageRow">
        <div>NixleMessage</div>
        <div><input type="text" id="nixleMessage"/></div>
    </div>
    <div class="messageRow">
        <input  type="checkbox" name="nixle" class="nixleCheck"/>A
        <input  type="checkbox" name="nixle" class="nixleCheck"/>B
    </div>
    <p id="nixleCheckbox"></p>
    <p id="nixleSms"></p>
</script>