*{
    margin:0;
    padding:0;
    background-color: #FBFBFB;
}
html{
    font-size: 62.5%;
}
.header{
    margin:0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}
h3{
    font-size: 2rem;
}
p{
    margin: 0.5rem;
}
#notification{
    margin:10px auto;
    width: 480px;
    border:1px solid #F1EFEF;
}

.leftTitle{
    width: 10%;
    margin: 2px;
}
.rightInput{
    width:auto;
}
.messageRow{
    margin: 0.5rem;
    padding:0.5rem;
}