<script id="shoppingcartItemTmpl" type="text/x-jsrender">
    <p class='cartItem' mid="{{:id}}">
        <span><input type="checkbox" name="product"/></span>
        <span data-bind="text:productId"></span>
        <span data-bind="text:productName"></span>
        <span data-bind="text:productPrice"></span>
        <span>
            <a href="javascript:void 0" id="minus" class="counter">-</a>
                <input data-bind="value:quantity,events:['keyup']" type="text" />
            <a href="javascript:void 0"  class="counter" id="add">+</a>
        </span>
        <span data-bind="text:itemPrice"></span>
        <span>
            <button class="deleteItem">删除</button>
        </span>
    </p>
</script>